.map-container {
    height: 400px; /* Hauteur de la carte */
    width: 100%; /* Largeur de la carte */
  }
  
  #map {
    height: 100%; /* Hauteur de la carte */
    width: 100%; /* Largeur de la carte */
  }